body {
  background-color: #111;
}

h1 {
  margin: 0;
  color: #eee;
  font-size: 6vh;
  font-weight: 400;
}

h2 {
  margin-top: 2vh;
  color: #eee;
  font-size: 3.25vh;
  font-weight: 300;
}

h3 {
  margin-top: -2vh;
  margin-bottom: 5vh;
  color: #eee;
  font-size: 3vh;
  font-weight: 200;
}

h4 {
  margin-bottom: -1vh;
}

h5 {
  color: white;
}

.background {
  background: radial-gradient(circle closest-corner at 50% 9%, #aaa, #101316);
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header[finale='1'] {
  animation-name: finale;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
};

.profile {
  width: 100vw;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh 0;
}

.portrait {
  width: 45vh;
  height: 45vh;
  border-radius: 50%;
}

.portrait[spin='1'] {
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
};

.titleContainer {
  border: none;
}

.titleContainer[wave='1'] {
  animation-name: wave;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.letter {
  margin: 0;
  height: 10vh;
  padding-left: 1.25vmin;
  padding-right: 1.25vmin;
  text-align: center;
  background-color: #1949E9;
  border: none;
  cursor: pointer;
}

.letter[toggle='1'] {
  background-color: #FFB107;
}

.migrate {
  margin-top: 4vh;
}

.migrate[migrate='1'] {
  animation-name: migrate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.stretch[stretch='1'] {
  animation-name: stretch;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

h1[bounce='1'] {
  animation-name: bounce;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

h1[spiral='1'] {
  animation-name: spiral;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

h1[superflip='1'] {
  animation-name: superflip;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.letter[up='1'] {
  animation-name: up;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.letter[down='1'] {
  animation-name: down;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.letter[mirror='1'] {
  animation-name: mirror;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#start {
  border-top-left-radius: 1vh;
  border-bottom-left-radius: 1vh;
  padding-left: 1vw;
}

#end {
  border-top-right-radius: 1vh;
  border-bottom-right-radius: 1vh;
  padding-right: 1vw;
}

.me {
  width: 26vw;
  height: 26vw;
  object-fit: cover;
  object-position: top;
  margin: .5vh 3.5vw 2vh 2.5vw;
  border-radius: 10px;
  float: left;
}

.resume {
  color: #eee;
  font-size: 2.5vh;
  text-decoration: none;
  background-color: #1949E9;
  border-radius: 1.25vh;
  padding: 2.5vh;
  position: fixed;
  bottom: 2vh;
  left: 2vh;
  z-index: 5;
}

.resume[count='12'] {
  background-color: #FFB107;
}

.resume[resume='1'] {
  animation-name: resume;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: bottom left;
}

.letter[flip='1'] {
  animation-name: flip;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.aboutLinks {
   color: "white";
   text-decoration: none;
}

.section {
  margin-bottom: 5vh;
}

.title {
  margin-left: 2.5vw;
}

.sectionDivider {
  width: 95vw;
}

.infobox {
  display: flex;
  align-items: flex-start;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

.tipsi {
  width: 100vw;
}

.tipsiLogo {
  width: 22.5vh;
}

.fumblrLogo {
  width: 30vh;
  margin-left: 2.5vw;
  margin-bottom: 2vh;
}

.cheeseAppTitle {
  margin-left: 2.5vw;
}

.cheeseAppLogo {
  width: 15vh;
}

.fumblrleft {
  margin-left: 2.5vw;
  margin-right: .5vw;
  width: 47vw;
  border-radius: .5vh;
  margin-bottom: 2vh;
}

.fumblrright {
  margin-left: .5vw;
  margin-right: 2.5vw;
  width: 47vw;
  border-radius: .5vh;
  margin-bottom: 2vh;
}

.body {
  margin-left: 2.5vw;
  margin-right: 2.5vh;
  color: #eee;
}

.description {
  color: white;
  font-size: 2vh;
  line-height: 1.2;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

.gradient {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.techIcons {
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  display: flex;
  width: 95vw;
  overflow: auto;
}

.techIcon {
  margin: 1vh;
  filter: brightness(0%) invert(100%);
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 6.5vh;
}

.links {
  display: flex;
  margin-top: -3vh;
}

.contactLinkBox {
  display: flex;
  text-decoration: none;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  margin-right: 2vw;
}

.contactLink {
  filter: invert(100%);
  width: 8vh;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes wave {
  0%, 10% {transform: rotateZ(0);}
  25% {transform: rotateZ(-3deg);}
  40% {transform: rotateZ(3deg);}
  50% {transform: rotateZ(-3deg);}
  60% {transform: rotateZ(2deg);}
  70% {transform: rotateZ(-1deg);}
  85%, 100% {transform: rotateZ(0);}
}

@keyframes migrate {
  0%, 100% {transform: translateX(0%);}
  25% {transform: translateX(3%);}
  75% {transform: translateX(-3%);}
}

@keyframes stretch {
  0%, 100% {transform: scale(100%);}
  75% {transform: scaleX(200%);}
  80% {transform: scaleX(45%);}
  85% {transform: scaleX(120%);}
  90% {transform: scaleX(95%);}
  95% {transform: scaleX(105%);}
}

@keyframes flip {
  0% {transform: scaleY(100%);}
  50% {transform: scaleY(-100%);}
  100% {transform: scaleY(100%);}
}

@keyframes bounce {
  0%, 100% {transform: scale(2, 0.5);}
  10%, 90% {transform: scale(1.4, .65);}
  25%, 75% {transform: scale(1.15, 1.1);}
  50% {transform: scale(1, 1.2);}
}

@keyframes spiral {
  0%, 90%, 100% {opacity: 1; transform: rotate(0) scale(1);}
  40%, 50% {opacity: 0; transform: rotate(-1440deg) scale(.25);}
}

@keyframes up {
  0% {transform: translateY(0%);}
  25% {transform: translateY(-20%);}
  50% {transform: translateY(0%);}
  75% {transform: translateY(20%);}
  100% {transform: translateY(0%);}
}

@keyframes down {
  0% {transform: translateY(0%);}
  25% {transform: translateY(20%);}
  50% {transform: translateY(0%);}
  75% {transform: translateY(-20%);}
  100% {transform: translateY(0%);}
}

@keyframes mirror {
  0%, 100% {transform: scaleX(100%);}
  50% {transform: scaleX(-100%);}
}

@keyframes resume {
  95% {transform: scale(300%);}
}

@keyframes superflip {
  0%, 100% {transform: scaleY(100%);}
  25% {transform: scaleY(-50%) scaleX(-50%);}
  50% {transform: scaleY(50%) scaleX(50%);}
  75% {transform: scaleY(-50%) scaleX(-50%);}
}

@keyframes finale {
  0%, 100% {  background: linear-gradient(to bottom, red, transparent);}
  20% {  background: linear-gradient(to bottom, orange, transparent);}
  40% {  background: linear-gradient(to bottom, green, transparent);}
  60% {  background: linear-gradient(to bottom, blue, transparent);}
  80% {  background: linear-gradient(to bottom, purple, transparent);}
}